name: Update Data

on:
  repository_dispatch:
    types: [update-data]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update data.json
        run: |
          echo "$PAYLOAD" > data.json

      - name: Commit changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add data.json
          git commit -m "Atualização automática de fichas" || echo "Nenhuma mudança para commitar"

      - name: Push
        run: git push

    env:
      PAYLOAD: ${{ github.event.client_payload.data }}
